/************
* VARIABLES *
*************/
:root {
  --color-primary: #16c2f4;
  --color-primary-light: #8be1fa;
  --color-primary-dark: #0b617a;

  --color-white: #fff;
  --color-black: #000;
}

/********************
* RESET and GENERAL *
********************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;

  animation-name: moveInTop;
  animation-duration: 2s;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.98rem;

  animation-name: moveInBottom;
  animation-duration: 2s;
}
/***********************
* HEADER and NAVIGATION*
***********************/
.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(22, 194, 244, 0.8),
      rgba(11, 96, 122, 0.8)
    ),
    url(../img/hero_640.jpg);
  background-size: cover;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

.header-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.btn-menu,
.btn-login {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.btn-menu-text,
.btn-login {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.btn-login {
  font-weight: normal;
}
.icon-menu {
  font-size: 4rem;
  color: #fff;
}
.header .logo-middle .logo {
  width: 10rem;
}

/********************
* ABOUT             *
********************/
.about-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*****************************
* M E D I A    Q U E R I E S *
* more than 600px *
*****************************/
@media only screen and (min-width: 600px) {
  body {
    background-color: #16c2f4;
    color: #0b617a;
  }
}

/**********************
* A N I M A T I O N S *
**********************/
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-8rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
